*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    background-color: aliceblue;
}
header{
    width: 95%;
    height: 75px;
    background-color: #8CB9BD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    border-radius: 20px;
    box-shadow: 0 0 14px;
    
}
#logo{
    font-size: 40px;
    color: antiquewhite;
    font-family: "Madimi One";
    font-size: 70px;
    cursor: pointer;
  
    
}
#logo:hover{
    font-size: 100px;
    transition: 1s;
    font-family: "Anta", sans-serif;
}
nav li{
    display: inline;
    padding: 0px 25px;
    list-style: none;
    
}
li a{
    color: antiquewhite;
    font-size: 20px;
}
li a:hover{
    font-size: 30px;
    transition: 0.4s;
    color:#F1F0E8;
    font-family: "Anta", sans-serif;
}
img{
    height: 400px;
    width: 95%;
    margin: 20px;
}
#container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 100px;
    width: 100%;
    margin-top: 20px;
}
#namebrand{
    margin-top: 100px;
    font-size: 100px;
}
#box1{
    background-image: url(boss.jpg);
    height: 150px;
    width: 200px;
    cursor: pointer;

}
#box1:hover{
    box-shadow: 0 0 10px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    
}
#box2{
    background-image: url(levis.jpg);
 height: 150px;
 width: 200px;
 cursor: pointer;
}
#box2:hover{
    box-shadow: 0 0 10px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    
}
#box3{
    background-image: url(puma.png);
    height: 150px;
    width: 250px;
    cursor: pointer;
}
#box3:hover{
    box-shadow: 0 0 10px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}
#box4{
    background-image: url(celvinklein.png);
    height: 150px;
    width: 200px;
    cursor: pointer;
}
#box4:hover{
    box-shadow: 0 0 10px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}
#box5{
    background-image: url(zara.jpg);
    height: 150px;
    width: 200px;
    cursor: pointer;
}
#box5:hover{
    box-shadow: 0 0 10px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    
}
#trendd{
    font-size: 70px;
    margin-top: 150px;
}
h1{
    
    margin: 30px;
    text-align: center;
    font-family: "Anta", sans-serif;
    font-size: 40px;
}

#container2{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
#container2 img{
    margin-top: 100px;
    height: 300px;
    border-style: double;
    border-width: 2px;
    border-color: #8CB9BD;
    border-radius: 15px;
}
#container2 img:hover{
    height: 400px;
    box-shadow: 0 0 14px;

}
#boxl{
    margin-top: 100px;
    height: 100px;
    width: 95%;
    background-color: #8CB9BD ;
    color: beige;
    letter-spacing: 1.5px;
    font-family: "Anta", sans-serif;
}

